syntax: glob
*~
.idea
.installed.cfg
bin
develop-eggs
docs/*.png
eggs
log.html
node_modules
output.xml
parts
report.html
sauce_connect.log
selenium-screenshot-*.png
src/local_config.coffee
static/js/
test_functional.tap
testem.json
