language: node_Js
node_js: '0.10'
addons:
  sauce_connect:
  - username: $SAUCE_USERNAME
  - access_key: $SAUCE_ACCESS_KEY
install:
- npm install -g grunt-cli testem coffee-script
- npm install
- python bootstrap.py --version 2.1.1
- bin/buildout
before_script:
- gem install travis-artifacts
after_script:
- travis-artifacts upload --path html --target-path
script:
- grunt test$TARGET
- grunt sphinx-build
env:
  global:
  - ARTIFACTS_S3_BUCKET=citynavigator
  - secure: ssrh7iOhADMalKSaR1l5ieqN0CsjZEYdkDpOaDOPkQ7+gGYXWV482xE9B7pMHyxDis7/K7FwufuGNCHJDxdrUAdCMz9YudlBEtQGTc4T+yzyz9EsmzatdVivw2DLLrhBjTkLCY/BqRCSK6aXjY708uzaoTJiTge9mR4dYQvT9aQ=
  - secure: PhoE54YVCRMQb90yCryyrBFqIVZXBqY8U0A1NPpK+gfZOrVGUAaPEUPywWGv5+i9t/kaGjfwASo5VnXeBj78Lbnb4idvHLDBfkGDgGtks9/LklvMzS6IowqSXG/dRIeb2ESekJPuG5Xb0g5uXNlvk//ZJwYcKZmYC2jqThOT7yg=
  - secure: GvV20kKaiFOoRcrsI8/wGSclMn0c9x+GCW5eoDkjdgpMlpwkOpiTT81W5XjarmzPlAF2cUyL1y0/cJNHrcTw72lL0NGWub2CkdQnH3Hrrsm+ry+VYoF2ifyny97O7FZnMBevzuqMH2cttfC8pF1ndSuBTk7kr6IUBFJvfi8JYZw=
  - secure: RaVBLspVr/4ah+q8LW85wTbKsRAdAccpC1JOcKxPQiRFUmnLD1I9eEhxJ34jatqo6MCEVd/XkOjhvS/iRiy4fKlPPLMlH30WGP0sdh347KcgXQujOicMMPNxzINOGGka0/oVrimk6TDXyRUZ2tZHB/BmpVXWIuBvLJIDqVcTKgc=
  matrix:
  - TARGET=
  - TARGET=-robot
