language: node_Js
node_js: '0.10'
addons:
  sauce_connect:
  - username: $SAUCE_USERNAME
  - access_key: $SAUCE_ACCESS_KEY
install:
- npm install -g grunt-cli testem coffee-script
- npm install
- python bootstrap.py --version 2.1.1
- bin/buildout
before_script:
- export DISPLAY=:99.0
- sh -e /etc/init.d/xvfb start
- gem install travis-artifacts
after_script:
- travis-artifacts upload --path html --target-path ''
script:
- grunt test$TARGET
- grunt sphinx-build
env:
  global:
  - ARTIFACTS_S3_BUCKET=citynavigator
  - secure: iKkfwYrWWjLHoInEo3vZuzWlwyC+Rugrght18zaaptApf3lmqwu5V7OKBFVzZUMjPIwpm0Wy4pPQJN9V2nkSoQuCStVFAOcQEpWUy5Ute5wZ8LKEb2p++/f8lwSPyD9pVDv2qBbRCTgf9yYpaLlw79+F6MAccTeqaSGBjPKoa+w=
  - secure: VHOOopGows3b9gXGJWRy1fJEtNJv6bH3PfpyaX/fBUUdQ4JsE9+fWoJgpeGKlLhLK3t5889CiiBwNUDmV4QZE0uCpJJxEOzi9u33+a15vVvlL5hZDKImTpRw1RP2EGv5Rivhtnn4T+tYoIM8VVkkda54c7AXWXWhyqgkILSOPJY=
  - secure: YWc1/FVKv7KSRwUFhnIvvM5f8z0B6FEv8ja7Cs4D0zG6yiWwcJFe9TiZo/QpDmxasIcdw9kzuyXLhJzF8SHMFncOBsS2JtVmvpg2jzFNrKnbqmJTQFrsTESxR8dWTn5yJgOn/LwiiiPADx6NcVvUnE/eo+NcUxxsUcBnY1J7eIM=
  - secure: EfewPD4hwouG2kWe3o7ATAmwbcjSslYYgQb9LxLTgCqvyTf0HGyCU/cc5OHJ+4C41fGYOS9FrFFT7F+Trr6TfsrkpJNqCpcJJjxnLpnkcyNxT8DoKYrpWDUeDuOZ0XPWnonp2pchvhKCUaOA4jdmDfqpbrWssO+z8bU2xwO+V1A=
  matrix:
  - TARGET=
  - TARGET=-robot
