---
language: node_Js
node_js: "0.10"
install:
- curl -O http://saucelabs.com/downloads/Sauce-Connect-latest.zip
- unzip Sauce-Connect-latest.zip
- java -jar Sauce-Connect.jar $SAUCE_USERNAME $SAUCE_ACCESS_KEY -i $TRAVIS_JOB_ID
  -f CONNECTED 1>/dev/null &
- JAVA_PID=$!
- npm install -g grunt-cli testem coffee-script
- npm install
- python bootstrap.py --version 2.1.1 # compatible with old setuptools
- bin/buildout
before_script:
- bash -c "while [ ! -f CONNECTED ]; do sleep 2; done"
script: grunt test$TARGET
env:
  matrix:
  - TARGET=
  - TARGET=-robot
#  - TARGET=-mobile
  global:
  - SAUCE_USERNAME=navigator-proto
  - secure: |-
      NSa08sEGEb2aaiv4kUGdB/gi4h2QJWghc9Syzy7vIelHPSkKJl1aG7OPbVXX
      XVAlbGRSkP++3ShW/mFJ/ntZpWxcSt8K/p4mRE1f3r9aGv/PkkNlJKODC143
      s8GTjslJgi9Ll/ao1Ys9aeCkRdYKfqMWM4fJMWkeucuh3lZ+HAw=
  - secure: |-
      foXH7e95axy5JLZBd8vA3nr5OuALylDu9X4032k0kK2JFxMY7GQJ9s4XTJ88
      RP1noE/ClfmdCICnvrT5kWRQUkwKNc+bpXxRDmhioumooKUAfRcQi9mEvt6O
      a8B/1BTjjTXuv3LPr7wwNNTn8l22n40Qpum2mrTi6k1ZjN6uiEE=
