
/* Make #map visible on all pages, behind actual page content */

/* Fullscreen jQuery Mobile elements are transparent and inert */
/* XXX IE doesn't implement pointer-events
       but makes transparent elements inert */
.ui-mobile, .ui-mobile-viewport, .ui-page {
    background: none;
    pointer-events: none;
}

/* Map is below everything, not inert */
#map {
    pointer-events: auto;
    z-index: -1;
}

/* UI elements are not inert */
/* XXX all opaque elements should be listed here to not confuse user
       all active elements must be listed here to receive input events */
.ui-page a, .ui-page input, .ui-page fieldset,
.ui-popup-screen, .ui-popup-container,
.ui-header, .ui-footer,
.ui-btn {
    pointer-events: auto;
}

.ui-li-static {
//    opacity: 0.5;
    background-color: rgba(255,255,255,0.5);
}

.navigator-div-icon {
    height: 100%
}

/* Position the map controls below the title header */
.leaflet-top {
    width: 100%;
    top: 45px;
    transition: top 200ms ease;
}

.mode-front-page .leaflet-top {
    top: 81px;
}


.leaflet-right .leaflet-control {
    margin-right: 15px;
}

.leaflet-top .leaflet-control {
    margin-top: 15px;
}

.leaflet-left .leaflet-control {
    margin-left: 15px;
}

.leaflet-bottom .leaflet-control-scale {
    margin-bottom: 17px;
}

.mode-map-page .leaflet-control-scale,
.mode-navigation-page .leaflet-control-scale {
    opacity: 0;
    transition: opacity 200ms;
}

.mode-front-page .control-details {
    display: none;
}

.leaflet-right .control-details {
    visibility: hidden;
}

.leaflet-container .control-details {
    width: 100%;
    background: white;
    background: rgba(255, 255, 255, 0.5);
    margin: 0;
}

.route-details {
    font-size: 18px;
    height: 20px;
    vertical-align: middle;
    text-align: center;
    padding: 2px 0px;
}

.route-details > div {
    margin-top: -2px;
    height: 100%;
}

.route-details i {
    font-style: normal;
    height: 100%;
}

.route-details i img {
    height: 100%;
    vertical-align: sub;
}

.leaflet-container .leaflet-control-attribution {
    transform: rotate(-90deg);
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    background: none;
    opacity: 0.4;
    box-shadow: none;
    text-shadow: none;
    margin: 0;
}

.leaflet-label {
//	background: #193695;
	background: #ffffff;
	background: rgba(255, 255, 255, 0.81);
//	background: rgba(25, 54, 149, 0.81);
	background-clip: padding-box;
	border-color: #777;
	border-color: rgba(0,0,0,0.25);
	border-radius: 2px;
	border-style: solid;
	border-width: 2px;
	color: #111;
	display: block;
	font: 12px/20px "Helvetica Neue", Arial, Helvetica, sans-serif;
	font-weight: bold;
	padding: 3px 3px 0px;
	position: absolute;
	-webkit-user-select: none;
	   -moz-user-select: none;
	    -ms-user-select: none;
	        user-select: none;
	white-space: nowrap;
	z-index: 6;
        left: -2px;
}

.leaflet-label:before {
	border-right: 6px solid black;
	border-right-color: inherit;
	border-top: 6px solid transparent;
	border-bottom: 6px solid transparent;
	content: "";
	position: absolute;
	top: 5px;
	left: -8px;
}

.leaflet-label span span:not(:empty) {
    margin-left: 5px;
}

.leaflet-label .counter {
    display: inline-block;
    font-size: 24px;
    padding-left: 6px;
    border-left: thin grey solid;
    margin-left: 7px;
}

.leaflet-label .counter.firstlegfalse,
.leaflet-label .counter.transitroutefalse {
    display: none;
}

.mode-navigation-page .leaflet-label .counter.firstlegfalse,
.mode-navigation-page .leaflet-label .counter.transitroutefalse {
    display: inline-block;
}

/* The footers with the route graphs should be transparent */
#map-page [data-role=footer], #navigation-page [data-role=footer] {
    background: none;
}

/* On the navigation page, hide the non-active routes */
#navigation-page .route-list > li.active{
    display: block;
}

#navigation-page .route-list > li {
    display: none;
}

.mode-navigation-page .route-graph {
    width: 100% !important;
    transition: width 100ms;
}

:first-child > .route-graph {
    margin-top: 0px;
}

.active > .route-graph {
    opacity: 1;
}

.route-graph {
    opacity: 0.5;
    height: 20px;
    position: relative;
    margin-left: 0px;
    padding-top: 4px;
    margin-top: 19px;
    border: solid thin rgba(255, 255, 255, 0.7);
}
.route-graph li {
    font-size: 18px;
    height: 20px;
    position: absolute;
    top: 0;
    background: white;
}
.route-graph .leg-bar {
    height: 20px;
    border-right: solid 1px white;
    padding: 2px 0px;
    vertical-align: middle;
    background-color: white;
    color: black;
    text-align: center;
}

.route-graph .leg-bar i {
//    display: block;
    height: 100%;
    width: 100%;
    text-align: center;
    font-style: normal;
    position: relative;
//    top: -4px;
    font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
    font-weight: normal;
    z-index: 1;
}

.route-graph .leg-bar i img {
    opacity: 0.8;
}

.route-graph .leg-bar .leg-indicator {
    color: black;
    font-size: 14px;
//    margin-top: -38px;
    margin-top: -45px;
    font-weight: bold;
    text-shadow: 0 1px 0 #FFFFFF;
//    background: white;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
